/* variables */
:root {
  /* colors */
  --background-color: #121212;
  --text-color: #f5f5f5;

  /* fonts */
  --main-font-family: "Roboto", sans-serif;

  /* the gays  */
  --pride-0: #e50000;
  --pride-1: #e68d00;
  --pride-2: #e6d600;
  --pride-3: #008100;
  --pride-4: #004cff;
  --pride-5: #760188;
}

/* global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font-family);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

canvas {
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: blueviolet;
  transition: color 0.3s;
}

a:hover {
  color: #ff00ff;
  transition: color 0.3s;
}

/* specific styles */

#page-title {
  display: inline-block;

  background: linear-gradient(90deg, blueviolet, #ff00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 4rem;
  font-weight: 700;

  margin: 0;
  margin-top: 1rem;
}

#gay-title {
  display: inline-block;

  background: linear-gradient(
    90deg,
    var(--pride-0),
    var(--pride-1),
    var(--pride-2),
    var(--pride-3),
    var(--pride-4),
    var(--pride-5)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 4rem;
  font-weight: 700;

  margin: 0;
  margin-top: 1rem;
}
